body{
    background-color: rgb(189, 189, 222);
}

.header{
    background-color: antiquewhite;
    /* height:40px; */
    padding:20px;
    text-align: center;
     font-size: large;

     
}

.flexcard
{
    display:flex;
 
    flex-wrap: wrap;
    justify-content: center;
   
    margin-top: 50px;
}

.card{
   
    margin-left: 30px;
margin-top: 30px;

}

 img{
    height: 200px;
    padding: 5px;
 }